@import url(./variables.css);

*,
*::after,
*::before {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: white;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: var(--black-color);
}

.suptitle {
    font-weight: 700;
    background: url(../../src/images/suptitle-circle.svg) no-repeat;
    background-position: 0 0;
    padding: 10px 0 5px 10px;
}

.text {
    font-weight: 400;
    color: var(--grey-color);
}

.button {
    background-color: var(--light-pink-color);
    color: var(--white-color) !important;
    border-radius: 12px;
    padding: 13px 40px;
    transition: all .4s linear;
}

.button:hover {
    background-color: var(--pink-color);
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

/* Header */

.header {
    position: fixed;
    top: 0;
    width: 100%;
    padding: 0 70px;
    height: 110px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white-color);
    z-index: 200;
}

.nav__list {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    font-weight: 700;
}

.nav__link {
    color: var(--black-color);
    transition: all .4s linear;
}

.nav__link:hover {
    color: var(--light-pink-color);
}

/* Top */

.top {
    height: 100vh;
    margin-bottom: 110px;
}

.top__inner {
    height: 100%;
    padding: 0 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../../src/images/top-section-bg.svg);
    background-repeat: no-repeat;
}

.top__content {
    width: 550px;
    text-align: center;
}

.top__title {
    font-size: 97px;
    margin-bottom: 45px;
}

.top__text {
    margin-bottom: 40px;
    padding: 0 20px;
    line-height: 25px;
}

/* Collection */

.collection__inner {
    text-align: center;
}

.collection__title {
    font-size: 65px;
    margin-bottom: 80px;
}

.collection__content {
    display: flex;
    justify-content: space-between;
    gap: 15%;
    align-items: center;
}

.collection__row {
    display: flex;
    flex-direction: column;
}

.collection__item {
    text-align: left;
    border-bottom: 1px solid var(--grey-color);
    margin-top: 30px;
}

.collection__item:last-child {
    border: none;
}

.collection__item__title {
    font-size: 24px;
    margin-bottom: 23px;
}

.colleсtion__item__text {
    margin-bottom: 35px;
}